.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid black;
    color: rgb(4, 0, 255);
}

.label_name {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.intup{
    
    width: 250px;
    height: 25px;
    margin-top: 5px;
}

.button_add {
    
    padding:10px;
    border-radius: 4px;
    color:azure;
    background-color: rgb(38, 38, 204);
    border: none;
}

.button_add:hover {
     background-color: rgb(255, 0, 0);
}